{
  "swagger" : "2.0",
  "host" : "api.e-invoice.com",
  "basePath" : "/v1",
  "info" : {
    "version" : "0.1",
    "title" : "REST API implementation of e-Invoice",
    "description" : "REST API implementation of e-Invoice"
  },
  "securityDefinitions" : {
    "apikey" : {
      "type" : "apiKey",
      "name" : "server_token",
      "in" : "header"
    }
  },
  "paths" : {
    "/invoices" : {
      "post" : {
        "summary" : "Send an invoice to the buyer",
        "description" : "Send an invoice to the buyer",
        "operationId" : "createInvoice",
        "security" : [ {
          "apikey" : [ ]
        } ],
        "parameters" : [ {
          "name" : "invoice",
          "in" : "body",
          "description" : "invoice to be sent",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/NewInvoice"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ID"
            }
          },
          "403" : {
            "description" : "Forbidden Error"
          },
          "500" : {
            "description" : "Any appropriate HTTP server error"
          }
        }
      }
    },
    "/invoices/{ID}" : {
      "get" : {
        "summary" : "get an invoice",
        "description" : "Retrive an invoice details based on the invoice ID",
        "operationId" : "getInvoice",
        "security" : [ {
          "apikey" : [ ]
        } ],
        "parameters" : [ {
          "name" : "ID",
          "in" : "path",
          "description" : "Invoice ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Invoice"
            }
          },
          "403" : {
            "description" : "Forbidden Error"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Any appropriate HTTP server error"
          }
        }
      }
    },
    "/responses" : {
      "post" : {
        "summary" : "POST document response",
        "description" : "POST document response",
        "operationId" : "createResponse",
        "security" : [ {
          "apikey" : [ ]
        } ],
        "parameters" : [ {
          "name" : "response",
          "in" : "body",
          "description" : "document response to be created",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Response"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ID"
            }
          },
          "403" : {
            "description" : "Forbidden Error"
          },
          "500" : {
            "description" : "Any appropriate HTTP server error"
          }
        }
      }
    }
  },
  "definitions" : {
    "Response" : {
      "title" : "Document Response",
      "type" : "object",
      "required" : [ "UBLVersionID", "CustomizationID", "ProfileID", "IssueDate", "SenderParty", "ReceiverParty", "DocumentResponse" ],
      "properties" : {
        "UBLVersionID" : {
          "type" : "string"
        },
        "CustomizationID" : {
          "type" : "string"
        },
        "ProfileID" : {
          "type" : "string"
        },
        "IssueDate" : {
          "type" : "string"
        },
        "SenderParty" : {
          "title" : "Sender Party",
          "properties" : {
            "Party" : {
              "$ref" : "#/definitions/Party"
            }
          }
        },
        "ReceiverParty" : {
          "title" : "Receiver Party",
          "properties" : {
            "Party" : {
              "$ref" : "#/definitions/Party"
            }
          }
        },
        "DocumentResponse" : {
          "$ref" : "#/definitions/DocumentResponse"
        }
      }
    },
    "Invoice" : {
      "title" : "Invoice",
      "type" : "object",
      "allOf" : [ {
        "$ref" : "#/definitions/NewInvoice"
      }, {
        "$ref" : "#/definitions/ID"
      } ]
    },
    "NewInvoice" : {
      "title" : "NewInvoice",
      "required" : [ "IssueDate", "DueDate", "InvoiceTypeCode", "BuyerReference", "OrderReference", "AccountingSupplierParty", "AccountingCustomerParty" ],
      "properties" : {
        "IssueDate" : {
          "type" : "string",
          "format" : "date"
        },
        "DueDate" : {
          "type" : "string",
          "format" : "date"
        },
        "InvoiceTypeCode" : {
          "type" : "string"
        },
        "Note" : {
          "type" : "string"
        },
        "DocumentCurrencyCode" : {
          "type" : "string"
        },
        "BuyerReference" : {
          "type" : "string"
        },
        "OrderReference" : {
          "$ref" : "#/definitions/ID"
        },
        "AccountingSupplierParty" : {
          "title" : "Suppier Party",
          "properties" : {
            "Party" : {
              "$ref" : "#/definitions/Party"
            }
          }
        },
        "AccountingCustomerParty" : {
          "title" : "Buyer Party",
          "properties" : {
            "Party" : {
              "$ref" : "#/definitions/Party"
            },
            "BuyerContact" : {
              "$ref" : "#/definitions/Contact"
            }
          }
        },
        "Delivery" : {
          "title" : "Delivery Details",
          "properties" : {
            "ActualDeliveryDate" : {
              "type" : "string"
            },
            "DeliveryAddress" : {
              "$ref" : "#/definitions/Address"
            }
          }
        },
        "PaymentMeans" : {
          "title" : "Playment",
          "properties" : {
            "ID" : {
              "type" : "string"
            },
            "PaymentMeansCode" : {
              "type" : "string"
            },
            "InstructionID" : {
              "type" : "string"
            },
            "PayeeFinancialAccount" : {
              "title" : "PayeeFinancialAccount",
              "properties" : {
                "ID" : {
                  "type" : "string"
                },
                "FinancialInstitutionBranch" : {
                  "title" : "FinancialInstitutionBranch",
                  "properties" : {
                    "ID" : {
                      "type" : "string"
                    },
                    "Name" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        },
        "TaxTotal" : {
          "title" : "TaxAmount",
          "required" : [ "TaxAmount" ],
          "properties" : {
            "TaxAmount" : {
              "$ref" : "#/definitions/Currency"
            }
          }
        },
        "LegalMonetaryTotal" : {
          "title" : "LegalMonetaryTotal",
          "properties" : {
            "LineExtensionAmount" : {
              "$ref" : "#/definitions/Currency"
            },
            "TaxExclusiveAmount" : {
              "$ref" : "#/definitions/Currency"
            },
            "TaxInclusiveAmount" : {
              "$ref" : "#/definitions/Currency"
            },
            "PayableAmount" : {
              "$ref" : "#/definitions/Currency"
            }
          }
        },
        "InvoiceLine" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/InvoiceLine"
          }
        }
      }
    },
    "InvoiceLine" : {
      "title" : "InvoiceLine",
      "properties" : {
        "ID" : {
          "type" : "string"
        },
        "Note" : {
          "type" : "string"
        },
        "InvoicedQuantity" : {
          "type" : "string",
          "format" : "integer"
        },
        "LineExtensionAmount" : {
          "$ref" : "#/definitions/Currency"
        },
        "TaxTotal" : {
          "title" : "TaxTotal",
          "properties" : {
            "TaxAmount" : {
              "$ref" : "#/definitions/Currency"
            },
            "TaxSubtotal" : {
              "title" : "TaxSubtotal",
              "properties" : {
                "TaxAmount" : {
                  "$ref" : "#/definitions/Currency"
                },
                "TaxCategory" : {
                  "title" : "TaxCategory",
                  "properties" : {
                    "TaxScheme" : {
                      "$ref" : "#/definitions/ID"
                    }
                  }
                }
              }
            }
          }
        },
        "Item" : {
          "title" : "Item Identification",
          "properties" : {
            "Description" : {
              "type" : "string"
            },
            "SellersItemIdentification" : {
              "$ref" : "#/definitions/ID"
            },
            "StandardItemIdentification" : {
              "$ref" : "#/definitions/ID"
            }
          }
        },
        "Price" : {
          "title" : "Item Price",
          "properties" : {
            "PriceAmount" : {
              "$ref" : "#/definitions/Currency"
            },
            "BaseQuantity" : {
              "type" : "string",
              "format" : "integer"
            }
          }
        }
      }
    },
    "Currency" : {
      "title" : "Currency",
      "required" : [ "currency", "value" ],
      "properties" : {
        "currency" : {
          "type" : "string"
        },
        "value" : {
          "type" : "string"
        }
      }
    },
    "Party" : {
      "title" : "Party Details",
      "required" : [ "PartyIdentification", "PartyName" ],
      "properties" : {
        "PartyIdentification" : {
          "$ref" : "#/definitions/ID"
        },
        "PartyName" : {
          "$ref" : "#/definitions/Name"
        },
        "PostalAddress" : {
          "$ref" : "#/definitions/Address"
        },
        "PartyLegalEntity" : {
          "$ref" : "#/definitions/CompanyID"
        }
      }
    },
    "Contact" : {
      "title" : "Contact",
      "properties" : {
        "ID" : {
          "type" : "string"
        },
        "Telephone" : {
          "type" : "string"
        },
        "ElectronicMail" : {
          "type" : "string"
        }
      }
    },
    "CompanyID" : {
      "title" : "Company ID",
      "required" : [ "CompanyID" ],
      "properties" : {
        "CompanyID" : {
          "type" : "string"
        }
      }
    },
    "Address" : {
      "title" : "Address",
      "properties" : {
        "CityName" : {
          "type" : "string"
        },
        "PostalZone" : {
          "type" : "string"
        },
        "CountrySubentity" : {
          "type" : "string"
        },
        "AddressLine" : {
          "$ref" : "#/definitions/AddressLine"
        },
        "Country" : {
          "$ref" : "#/definitions/Country"
        }
      }
    },
    "Country" : {
      "title" : "Country",
      "properties" : {
        "IdentificationCode" : {
          "description" : "Country Code",
          "type" : "string"
        }
      }
    },
    "AddressLine" : {
      "title" : "Address Line",
      "properties" : {
        "Line" : {
          "type" : "string"
        }
      }
    },
    "Name" : {
      "title" : "Name",
      "required" : [ "Name" ],
      "properties" : {
        "Name" : {
          "type" : "string"
        }
      }
    },
    "DocumentResponse" : {
      "title" : "Document Response",
      "required" : [ "DocumentReference", "Response" ],
      "properties" : {
        "DocumentReference" : {
          "title" : "Document Reference",
          "type" : "object",
          "required" : [ "ID", "IssueDate", "DocumentTypeCode" ],
          "properties" : {
            "ID" : {
              "type" : "string"
            },
            "IssueDate" : {
              "type" : "string"
            },
            "DocumentTypeCode" : {
              "type" : "string"
            }
          }
        },
        "Response" : {
          "title" : "Response Data",
          "type" : "object",
          "required" : [ "ResponseCode", "Description" ],
          "properties" : {
            "ResponseCode" : {
              "type" : "string"
            },
            "Description" : {
              "type" : "string"
            }
          }
        }
      }
    },
    "ID" : {
      "title" : "Identification GUID",
      "required" : [ "ID" ],
      "properties" : {
        "ID" : {
          "type" : "string"
        }
      }
    }
  }
}