{
  "swagger" : "2.0",
  "host" : "api.e-invoice.com",
  "basePath" : "/v1",
  "info" : {
    "version" : "0.1",
    "title" : "REST API implementation of e-Invoice",
    "description" : "REST API implementation of e-Invoice"
  },
  "securityDefinitions" : {
    "apikey" : {
      "type" : "apiKey",
      "name" : "server_token",
      "in" : "header"
    }
  },
  "paths" : {
    "/invoices" : {
      "get" : {
        "summary" : "Find Invoices",
        "description" : "Returns the invoice or invoices matching the query parametrs",
        "operationId" : "findInvoices",
        "security" : [ {
          "apikey" : [ ]
        } ],
        "parameters" : [ {
          "name" : "InvoiceTypeCode",
          "in" : "query",
          "description" : "InvoiceTypeCode to filter by",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "IssueDateFrom",
          "in" : "query",
          "description" : "The start of the date range in YYYY-MM-DD HH:MM:SS format",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "IssueDateTo",
          "in" : "query",
          "description" : "The end of the date range in YYYY-MM-DD HH:MM:SS format",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "DueDateFrom",
          "in" : "query",
          "description" : "The start of the date range in YYYY-MM-DD HH:MM:SS format",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "DueDateTo",
          "in" : "query",
          "description" : "The end of the date range in YYYY-MM-DD HH:MM:SS format",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "OrderId",
          "in" : "query",
          "description" : "OrderReference ID string",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "BuyerReference",
          "in" : "query",
          "description" : "BuyerReference ID string",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "SupplierId",
          "in" : "query",
          "description" : "AccountingSupplierParty identification ID string",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "CustomerId",
          "in" : "query",
          "description" : "AccountingCustomerParty identification ID string",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "BuyerId",
          "in" : "query",
          "description" : "BuyerContact identification ID string",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of invoices(invoice object may not contain entire dataset)",
            "schema" : {
              "$ref" : "#/definitions/Invoice"
            }
          },
          "403" : {
            "description" : "Forbidden Error"
          },
          "500" : {
            "description" : "Any appropriate HTTP server error"
          }
        }
      },
      "post" : {
        "summary" : "Send an invoice to the buyer",
        "description" : "Send an invoice to the buyer",
        "operationId" : "createInvoice",
        "security" : [ {
          "apikey" : [ ]
        } ],
        "parameters" : [ {
          "name" : "invoice",
          "in" : "body",
          "description" : "invoice to be sent",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Invoice"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Invoice sent successfully",
            "schema" : {
              "$ref" : "#/definitions/Invoice"
            }
          },
          "403" : {
            "description" : "Forbidden Error"
          },
          "500" : {
            "description" : "Any appropriate HTTP server error"
          }
        }
      }
    },
    "/invoices/{ID}" : {
      "get" : {
        "summary" : "get an invoice",
        "description" : "Retrive an invoice details based on the invoice ID",
        "operationId" : "getInvoice",
        "security" : [ {
          "apikey" : [ ]
        } ],
        "parameters" : [ {
          "name" : "ID",
          "in" : "path",
          "description" : "Invoice ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Invoice"
            }
          },
          "403" : {
            "description" : "Forbidden Error"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Any appropriate HTTP server error"
          }
        }
      },
      "put" : {
        "summary" : "update an invoice",
        "description" : "Update invoice details based on the invoice ID",
        "operationId" : "updateInvoice",
        "security" : [ {
          "apikey" : [ ]
        } ],
        "parameters" : [ {
          "name" : "ID",
          "in" : "path",
          "description" : "Invoice ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "invoice",
          "in" : "body",
          "description" : "invoice to be sent",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Invoice"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Invoice updated successfully",
            "schema" : {
              "$ref" : "#/definitions/Invoice"
            }
          },
          "403" : {
            "description" : "Forbidden Error"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Any appropriate HTTP server error"
          }
        }
      },
      "delete" : {
        "summary" : "delete an invoice",
        "description" : "Remove an invoice from the e-invoicing registry",
        "operationId" : "deleteInvoice",
        "security" : [ {
          "apikey" : [ ]
        } ],
        "parameters" : [ {
          "name" : "ID",
          "in" : "path",
          "description" : "Invoice ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Invoice deleted successfully"
          },
          "403" : {
            "description" : "Forbidden Error"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Any appropriate HTTP server error"
          }
        }
      }
    }
  },
  "definitions" : {
    "Invoice" : {
      "properties" : {
        "ID" : {
          "type" : "string"
        },
        "IssueDate" : {
          "type" : "string",
          "format" : "date"
        },
        "DueDate" : {
          "type" : "string",
          "format" : "date"
        },
        "InvoiceTypeCode" : {
          "type" : "string"
        },
        "Note" : {
          "type" : "string"
        },
        "DocumentCurrencyCode" : {
          "type" : "string"
        },
        "BuyerReference" : {
          "type" : "string"
        },
        "OrderReference" : {
          "$ref" : "#/definitions/ID"
        },
        "AccountingSupplierParty" : {
          "title" : "Suppier Party",
          "properties" : {
            "Party" : {
              "$ref" : "#/definitions/Party"
            }
          }
        },
        "AccountingCustomerParty" : {
          "title" : "Buyer Party",
          "properties" : {
            "Party" : {
              "$ref" : "#/definitions/Party"
            },
            "BuyerContact" : {
              "$ref" : "#/definitions/Contact"
            }
          }
        },
        "Delivery" : {
          "title" : "Delivery Details",
          "properties" : {
            "ActualDeliveryDate" : {
              "type" : "string"
            },
            "DeliveryAddress" : {
              "$ref" : "#/definitions/Address"
            }
          }
        },
        "PaymentMeans" : {
          "title" : "Playment",
          "properties" : {
            "ID" : {
              "type" : "string"
            },
            "PaymentMeansCode" : {
              "type" : "string"
            },
            "InstructionID" : {
              "type" : "string"
            },
            "PayeeFinancialAccount" : {
              "title" : "PayeeFinancialAccount",
              "properties" : {
                "ID" : {
                  "type" : "string"
                },
                "FinancialInstitutionBranch" : {
                  "title" : "FinancialInstitutionBranch",
                  "properties" : {
                    "ID" : {
                      "type" : "string"
                    },
                    "Name" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        },
        "TaxTotal" : {
          "title" : "TaxAmount",
          "properties" : {
            "TaxAmount" : {
              "$ref" : "#/definitions/Currency"
            }
          }
        },
        "LegalMonetaryTotal" : {
          "title" : "LegalMonetaryTotal",
          "properties" : {
            "LineExtensionAmount" : {
              "$ref" : "#/definitions/Currency"
            },
            "TaxExclusiveAmount" : {
              "$ref" : "#/definitions/Currency"
            },
            "TaxInclusiveAmount" : {
              "$ref" : "#/definitions/Currency"
            },
            "PayableAmount" : {
              "$ref" : "#/definitions/Currency"
            }
          }
        },
        "InvoiceLine" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/InvoiceLine"
          }
        }
      }
    },
    "InvoiceLine" : {
      "title" : "InvoiceLine",
      "properties" : {
        "ID" : {
          "type" : "string"
        },
        "Note" : {
          "type" : "string"
        },
        "InvoicedQuantity" : {
          "type" : "string",
          "format" : "integer"
        },
        "LineExtensionAmount" : {
          "$ref" : "#/definitions/Currency"
        },
        "TaxTotal" : {
          "properties" : {
            "TaxAmount" : {
              "$ref" : "#/definitions/Currency"
            },
            "TaxSubtotal" : {
              "properties" : {
                "TaxAmount" : {
                  "$ref" : "#/definitions/Currency"
                },
                "TaxCategory" : {
                  "properties" : {
                    "TaxScheme" : {
                      "$ref" : "#/definitions/ID"
                    }
                  }
                }
              }
            }
          }
        },
        "Item" : {
          "title" : "Item Identification",
          "properties" : {
            "Description" : {
              "type" : "string"
            },
            "SellersItemIdentification" : {
              "$ref" : "#/definitions/ID"
            },
            "StandardItemIdentification" : {
              "$ref" : "#/definitions/ID"
            }
          }
        },
        "Price" : {
          "title" : "Item Price",
          "properties" : {
            "PriceAmount" : {
              "$ref" : "#/definitions/Currency"
            },
            "BaseQuantity" : {
              "type" : "string",
              "format" : "integer"
            }
          }
        }
      }
    },
    "Currency" : {
      "title" : "Currency",
      "properties" : {
        "currency" : {
          "type" : "string"
        },
        "value" : {
          "type" : "string"
        }
      }
    },
    "Party" : {
      "title" : "Party Details",
      "properties" : {
        "PartyIdentification" : {
          "$ref" : "#/definitions/ID"
        },
        "PartyName" : {
          "$ref" : "#/definitions/Name"
        },
        "PostalAddress" : {
          "$ref" : "#/definitions/Address"
        },
        "PartyLegalEntity" : {
          "$ref" : "#/definitions/CompanyID"
        }
      }
    },
    "Contact" : {
      "title" : "Contact",
      "properties" : {
        "ID" : {
          "type" : "string"
        },
        "Telephone" : {
          "type" : "string"
        },
        "ElectronicMail" : {
          "type" : "string"
        }
      }
    },
    "CompanyID" : {
      "title" : "Company ID",
      "properties" : {
        "CompanyID" : {
          "type" : "string"
        }
      }
    },
    "Address" : {
      "title" : "Address",
      "properties" : {
        "CityName" : {
          "type" : "string"
        },
        "PostalZone" : {
          "type" : "string"
        },
        "CountrySubentity" : {
          "type" : "string"
        },
        "AddressLine" : {
          "$ref" : "#/definitions/AddressLine"
        },
        "Country" : {
          "$ref" : "#/definitions/Country"
        }
      }
    },
    "Country" : {
      "title" : "Country",
      "properties" : {
        "IdentificationCode" : {
          "description" : "Country Code",
          "type" : "string"
        }
      }
    },
    "AddressLine" : {
      "title" : "Address Line",
      "properties" : {
        "Line" : {
          "type" : "string"
        }
      }
    },
    "Name" : {
      "title" : "Name",
      "properties" : {
        "Name" : {
          "type" : "string"
        }
      }
    },
    "ID" : {
      "title" : "Identification",
      "properties" : {
        "ID" : {
          "type" : "string"
        }
      }
    }
  }
}